* {
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    height: 50px;
    width: 100%;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

main{
    background-color: yellow;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

